tools/en.stm32cubeprg-win64_v2-11-0.zip
tools/en.stm32cubeprg-win64_v2-11-0/SetupSTM32CubeProgrammer_win64.exe
tools/en.x-cube-azure_v2-1-0.zip
null
Python_version.txt
STM32CubeProgrammer_version.txt
tools/_en.x-cube-azure_v2-1-0.zip
tools/azure-cli-2.40.0.msi
tools/get-pip.py
tools/python-3.10.7-amd64.exe
